@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cormorant+Garamond:ital,wght@1,700&family=Jacques+Francois+Shadow&family=Josefin+Sans:wght@300;400&family=Londrina+Shadow&family=Montserrat:wght@300&family=Oswald:wght@300;600&family=Questrial&family=Roboto+Slab:wght@100&family=Roboto:wght@100;400;500&family=Titillium+Web:wght@300;700&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cormorant+Garamond:ital,wght@1,700&family=Jacques+Francois+Shadow&family=Josefin+Sans:wght@300;400&family=Londrina+Shadow&family=Montserrat:wght@300&family=Oswald:wght@300;600&family=Questrial&family=Roboto+Slab:wght@100&family=Roboto:wght@100;400;500&family=Titillium+Web:wght@300&family=Yellowtail&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.jcsb{
  justify-content: space-between;
  align-items: center;
}
.navbar{
  padding: 1em 0;
}
.menubar ul li{
  display: inline-block;
  margin: 1em;
}
.menubar ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.5em 0.5em;
}
.icon ul li{
  display: inline-block;
  margin: 0.8em;
}
.icon ul li a i{
  color: black;
}
.menubar ul li a:hover{
  background-color: black;
  border-radius: 1.25em;
  color: white;
  padding:0.5em 0.5em;
}
.nav{
    background-color: black;
    color: white;
    padding-left: 1.2em;
}
/* <!-----------------------------------------------------section One---------------------------------------------------> */
.sec-one{
   background-image: url(../shop/sec1-background\ image3.jpg);
   background-size: cover;
   background-position: center center;
}
.alignitem{
    align-items: center;
}
.textalign{
    text-align: center;
}
.col-50{
    width: 100%;
}
.fontsize h2{
    font-size: 3em;
}
.fontsize p{
    font-size: 1.8em;
}
.margin{
    padding: 6.5em 4em;
}
.paddingbottom{
    padding-bottom: 3em ;
}
/* <!-----------------------------------------------------section Two---------------------------------------------------> */
.image1 image{
    width: 100%;
}
.sec2-fontsize h2{
        font-size: 2.5em;
}
.sec2-fontsize p{
    font-size: 1.8em;
}
.auto{
    margin: 0 auto;
}
.col-30{
    width: 100%;
}
.textwidth{
    width: 100%;
}
.paddingtop{
  padding-top: 3em;
}
/* <!-----------------------------------------------------section Three---------------------------------------------------> */
.sec3-head p{
    font-size: 0.8em;
    text-align:end ;
}
.sec3-main{
    background-image: url(../shop/sec3-backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.left h2{
    width: 90%;
    font-size: 4.2em;
    padding-left: 2em;
}
/* <!-----------------------------------------------------section Four---------------------------------------------------> */
.sec-four{
  background-image: url(../shop/sec4-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sec4-button a{
  text-decoration: none;
  background-color: white;
  color: black;
  padding:0.5em 2em;
  border-radius: 1.5em;
  font-weight: bold;
  margin-left: 6.5em;
}
.sec4-condition a{
  text-decoration: none;
  color: white;
  margin-left: 6em;

}
.sec4-main h2{
  color: white;
  padding: 1.5em 0 0 2em;
}
.sec4-head{
  font-size: 0.8em;
    text-align:center;
}
.line a{
  text-decoration: none;
  color: black;
}
/*  <!-----------------------------------------------------Footer--------------------------------------------------> */
.border ul li a{
  text-decoration: none;
  color: black;
  padding: 0.5em 0;
}
.border ul li{
  list-style: none;
  padding: 0.3em 0;
}
.border  a:hover{
background-color: rgb(23, 18, 13);
padding: 0.1em 0.5em;
border-radius: 1.5em;
color: white;

}
.col-20{
  width: 15%;
}
.term{
  width: 100%;
}
.term p{
  margin: 1em 0;
}
.term hr{
  width: 100%;
}
.product-Service hr{
  width: 100%;
}
.policy ul li{
  display: inline-block;
  padding: 0.5em;
}
.policy  a{
  color: black;
  text-decoration: none;
}
.col-15{
  width: 15%;
  margin:  0 2em;
}
.border ul li a{
  text-decoration: none;
  color: black;
  padding: 0.5em 0;
}
.border ul li{
  list-style: none;
  padding: 0.3em 0;
}
.border  a:hover{
  background-color: rgb(23, 18, 13);
  padding: 0.1em 0.5em;
  border-radius: 1.5em;
  color: white;
  }

